# Build files
/build
/app/build

# Generated APK/AAB
*.apk
*.aab

# Baseline Profiles
*.dm

# Local properties
local.properties

# IDE files
.idea/
.gradle/
*.iml
*.ipr
*.iws

# Log files
*.log

# Other
.DS_Store
/captures
.externalNativeBuild
.cxx